
    body {

        font-family: 'Poppins',sans-serif ;
        margin: 0px;
    }
    h1{
             font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    .headline-highliter{
        color: chocolate;
    }
    .orange-highliter{
        color: orange;
    }

    .buttonhireme{
        color: black;
        background-color: coral;
    }
    p{
        color: darkgray;
        
    }
    .half-width{
        width : 40%;
        float : left;
        margin-left: 5%;
        padding-left: 2%;
    }
    .half-width img{
        width: 100%;
    }
    #top-banner{
        background-image: url("images/top-banner.png");
        background-repeat: no-repeat;
        
    }
    #second-banner{

        background-image: url("images/dream-bg.png");
        background-repeat: no-repeat;
        background-position: right;
        
    }
    section{
        height: 500px;
        padding-bottom: 150px;
    }

    .link-button{
        text-decoration: none;
        background-image: linear-gradient(40deg, lightsalmon,tomato);
        padding: 10px 20px;
        border-radius: 10px;
        font-weight: 700;
        color: cornsilk;
    }
   
    .experience-box{
        box-shadow: 10px 10px 40px gray;
        border-radius: 5px;
        padding-left: 3%;
        height: 80%;
        background-color: white;
    }
    .experiance-area{
    
        background-image: url("images/exp-bg.png");
        background-repeat: no-repeat;
        background-position: left;
    
    }
    #experience-leftbox{
        border-left: 7px solid;
    border-image: linear-gradient(180deg, tomato, salmon);
        border-image-slice: 1;
    }
    #experience-rightbox{
        border-left: 7px solid;
        border-image: linear-gradient(180deg, blue,cyan);
        border-image-slice: 3;
    }
footer p{
    text-align: center;
font-size: 12px;

   
 
}